@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Fira+Sans:wght@400;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  }
  
  body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  }
  
  img {
  display: block;
  max-width: 100%;
  }

  $colorBlack:#191919;
  $colorWhite:#FFFFFF;
  $colorMain:#EDEDED;
  $colorBox:#1919190D;


  @mixin fonts($color) {
  font-family: Fira Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: $color;
  }
  @mixin garamondBig($color) {
  font-family: Garamond;
  font-size: 48px;
  font-weight: 700;
  line-height: 67.2px;
  text-align: center;
  }
  @mixin garamondLittl($color) {
  font-family: Garamond;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
  }
  @mixin garamontBig_1($color){
  font-family: Garamond;
  font-size: 64px;
  font-weight: 700;
  line-height: 89.6px;
  text-align: center;
  }
  @mixin garamontMedium($color){
  font-family: Garamond;
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
  // text-align: center;
  }
  
  .container {
    max-width: 1300px;
    margin-left: 16.1%;
    margin-right: 16.1%;
  }
header {
 background:$colorBlack;
 max-height: 104px;
}
  .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 41px;
  padding-bottom: 41px;
 
  p{
    @include fonts($colorWhite);
  }
  ul {
    list-style-type: none;
    display: flex;
    li a{
      @include fonts($colorWhite);
    }
    }
  }
  .header__a::before {
        content: url(./img/Rectangle\ 30.png);
        padding-left: 8px;
        padding-right: 8px;
  }
  main {
    background: $colorMain;
  }
  .section-1 {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
  }
  .section-1__img {
    height: 410px;

  }
  .section-1__box {
    display: flex;
    flex-direction: column;
    gap: 16px;
  div {
    display: flex;
    align-items: center;
    gap: 24px;
    background: $colorBox;
    border-radius: 10px;
  }
  p {
    @include fonts($colorBlack);
  }
  }
  .section-2{
    margin-top: 184px;
    margin-bottom: 100px;
  }
  .section-2__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      @include garamondBig($colorBlack);
    }
  }
  .section-2__box2__content {
    @include garamondLittl($colorBlack);
    display: flex;
    align-items: center;
    gap: 34px;
  }
  .section-2__box2__content::before {
    content: url(./img/heading-section__icon.png);
    padding-top: 10px;
  }
  .section-3__box {
    display: flex;
    gap: 62px;
    background: $colorBox;
    border-radius: 10px;
    h4 {
    @include garamontBig_1($colorBlack);
    }
  }
  .section-3__box__1 {
    border: 1px solid #000;
    margin: 92px 0 92px 60px;
  }
  .section-3__box__p {
    @include garamontMedium($colorBlack);
  }
  .section-3__box__2 {
    border: 1px solid #000;
    margin-top: 32px;
  }
  .section-3__box__3 {
    margin-top: 52px;
    max-width: 415px;
    border: 1px solid #000;
    h3 {
      @include garamontMedium($colorBlack)
    }
  }