@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Fira+Sans:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1300px;
  margin: 0px auto;
}

header {
  background: #191919;
  max-height: 104px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 41px;
  padding-bottom: 41px;
}
.header p {
  font-family: Fira Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #FFFFFF;
}
.header ul {
  list-style-type: none;
  display: flex;
}
.header ul li a {
  font-family: Fira Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #FFFFFF;
}

.header__a::before {
  content: url(./img/Rectangle\ 30.png);
  padding-left: 8px;
  padding-right: 8px;
}

main {
  background: #EDEDED;
}

.section-1 {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.section-1__box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section-1__box div {
  display: flex;
  align-items: center;
  gap: 24px;
  background: rgba(25, 25, 25, 0.0509803922);
  border-radius: 10px;
}
.section-1__box p {
  font-family: Fira Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #191919;
}

.section-2 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-2__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-2__box p {
  font-family: Garamond;
  font-size: 48px;
  font-weight: 700;
  line-height: 67.2px;
  text-align: left;
  color: #191919;
}

.section-2__box2__content {
  font-family: Garamond;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
  color: #191919;
  display: flex;
  align-items: center;
  gap: 34px;
}

.section-2__box2__content::before {
  content: url(./img/heading-section__icon.png);
  padding-top: 10px;
}

.section-3__box {
  display: flex;
  gap: 62px;
  background: rgba(25, 25, 25, 0.0509803922);
  border-radius: 10px;
  height: 304px;
  margin-bottom: 80px;
}
.section-3__box h4 {
  font-family: Garamond;
  font-size: 64px;
  font-weight: 700;
  line-height: 89.6px;
  text-align: center;
  color: #191919;
}

.section-3__box__1 {
  margin: 92px 0 92px 60px;
}

.section-3__box__p {
  font-family: Garamond;
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
  color: #191919;
}

.section-3__box__2 {
  margin-top: 32px;
}

.section-3__box__3 {
  margin-top: 52px;
  width: 415px;
}
.section-3__box__3 h3 {
  font-family: Garamond;
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
  color: #191919;
  padding-bottom: 16px;
}
.section-3__box__3 p {
  font-family: Fira Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #191919;
}

.section-3__box__3__p {
  display: flex;
  padding-top: 40px;
  gap: 32px;
}

.section-3__box__3__1 {
  display: flex;
  align-items: center;
}
.section-3__box__3__1::before {
  content: url(./img/style.png);
  padding-right: 22px;
}

.section-3__box__3__2 {
  display: flex;
  align-items: center;
}
.section-3__box__3__2::before {
  content: url(./img/time.png);
  padding-right: 22px;
}

.section-3__box__3__3 {
  display: flex;
  align-items: center;
}
.section-3__box__3__3::before {
  content: url(./img/age.png);
  padding-right: 22px;
}

.section-3__box__btn {
  padding: 15px 30px;
  margin-top: 126px;
  border-radius: 50px;
  background: #05B093;
  font-family: Fira Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #FFFFFF;
  cursor: pointer;
  border: 1px solid #05B093;
}

.section-4 {
  display: flex;
  margin-top: 56px;
  gap: 134px;
  margin-bottom: 160px;
}

.section-4__box {
  display: flex;
  flex-direction: column;
  width: 636px;
  height: 521px;
  margin-bottom: 43px;
}
.section-4__box h4 {
  font-family: Garamond;
  font-size: 48px;
  font-weight: 700;
  line-height: 67.2px;
  text-align: left;
  color: #191919;
  padding-bottom: 60px;
}

.section-4__box__total {
  display: flex;
  gap: 24px;
}

.section-4__box__1 {
  width: 306px;
}
.section-4__box__1 h5 {
  font-family: Garamond;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
  color: #191919;
  padding: 32px 0 24px;
}
.section-4__box__1 p {
  font-family: Fira Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #191919;
}

.section-5__box {
  display: flex;
  gap: 24px;
}

.section-5__box__1 {
  display: flex;
  width: 306px;
  height: 98px;
  margin-top: 100px;
  margin-bottom: 150px;
}
.section-5__box__1 h6 {
  font-family: Fira Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.6px;
  padding: 39px 0 39px 27px;
}

.section-5__box__2 {
  width: 100px;
  padding: 16px 20px 16px 20px;
  border-radius: 12px;
  background: #05B093;
}
.section-5__box__2 h5 {
  font-family: Garamond;
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
  color: #FFFFFF;
  text-align: center;
}
.section-5__box__2 p {
  font-family: Garamond;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: center;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */